# Enterprise app
ENTERPRISE_BASE_URL=http://20.1.140.13
ENTERPRISE_ADMIN_EMAIL=your-admin-email@example.com
ENTERPRISE_ADMIN_PASSWORD=your-admin-password

# Learner app
LEARNER_BASE_URL=http://172.177.136.15
LEARNER_DEFAULT_PASSWORD=your-learner-password
LEARNER_FIRST_NAME=Ahmed
LEARNER_LAST_NAME=newUser
LEARNER_EMAIL_PREFIX=codex.learner
LEARNER_EMAIL_DOMAIN=mailinator.com

# LMS admin app
LMS_ADMIN_BASE_URL=http://172.177.136.15:8080
LMS_ADMIN_EMAIL=your-lms-admin-email@example.com
LMS_ADMIN_PASSWORD=your-lms-admin-password
LMS_ADMIN_OTP=1234
